<mat-toolbar color="primary">
    <mat-toolbar-row>
      <button color="accent" style="margin-right: 15px" mat-icon-button (click)="openMenu()">
        <mat-icon>menu</mat-icon>
    </button>
        Netzplan Tool

        <div style="margin-left: auto;">

        </div>

        <div style="margin-right: auto;">
          {{SelectedPlanName}}
        </div>

        <button mat-icon-button style="margin-right: 5px;" (click)="save()">
            <mat-icon>save</mat-icon>
        </button>

      <button mat-icon-button style="margin-right: 5px;" (click)="askForUpload()">
        <mat-icon>cloud_upload</mat-icon>
      </button>

      <button mat-icon-button (click)="exportToCsv()">
        <mat-icon>cloud_download</mat-icon>
      </button>
    </mat-toolbar-row>


  <input type="file" style="height: 0; overflow: hidden; max-width: 0; width: 0" #FileInput  (input)="uploadCSV($event)">
</mat-toolbar>

