<mat-toolbar color="primary">
    <mat-toolbar-row>
        CriticalPathTool

        <div style="margin-left: auto;">

        </div>

        <button mat-icon-button (click)="save()">
            <mat-icon>save</mat-icon>
        </button>

      <button mat-icon-button (click)="askForUpload()">
        <mat-icon>cloud_upload</mat-icon>
      </button>
    </mat-toolbar-row>


  <input type="file" style="height: 0; overflow: hidden; max-width: 0; width: 0" #FileInput  (input)="uploadCSV($event)">
</mat-toolbar>

