<div
  class="container"
  [ngClass]="{
    predeccessors: node.Predecessors.length > 0,
    successors: node.Successors.length > 0
  }"
>
  <div style="height: 100%">
    <div style="display: flex; height: 50%">
      <button mat-icon-button (click)="delete.emit(node)">
        <mat-icon>
          delete
        </mat-icon>
      </button>
      <input  class="name-input" style="width: 100%;" placeholder="Name" [(ngModel)]="node.Name">
    </div>

    <div style="display: flex; height: 50%">

        <input
        class="duration-input"
        style="width: 33%;"
        type="number"
        (input)="inputDuration()"
        placeholder="Dauer"
        [(ngModel)]="node.Duration"
      />

        <div class="buffer-field totalBuffer" matTooltip="Gesamter Puffer">
            {{node.totalBuffer}}

        </div>
        <div class="buffer-field freeBuffer" matTooltip="Freier Puffer">
            {{node.freeBuffer}}
        </div>
    </div>
  </div>

  <div
    class="predecessors-line-end"
    *ngIf="node.Predecessors.length > 0"
  ></div>
  <div class="successors-line-start" (click)="openNodeSelec(select)">
    <mat-icon class="add-icon">
      timeline
    </mat-icon>

    <mat-select
      multiple
      [value]="node.Successors"
      (selectionChange)="changeConnectionSelection($event)"
      #select
      class="node-connection-select"
    >
      <mat-option *ngFor="let node of availableNodes" [value]="node.Id">
        {{ node.Name }}
      </mat-option>
    </mat-select>
  </div>

  <div class="badge badge-top-left" matTooltip="Frühster Anfangszeitpunkt">
    {{ node.earliestStart }}
  </div>

  <div class="badge badge-top-right" matTooltip="Frühster Endzeitpunkt">
    {{ node.earliestEnd }}
  </div>

  <div class="badge badge-bottom-right" matTooltip="Spätester Endzeitpunkt">
    {{ node.latestEnd }}
  </div>

  <div class="badge badge-bottom-left" matTooltip="Spätester Anfangszeitpunkt">
    {{ node.latestStart }}
  </div>
</div>

<mat-menu #nodeMenu="matMenu">
  <ng-template matMenuContent>
    <ng-container *ngIf="availableNodes.length > 0; else noNodesTemplate">
      <ng-container *ngFor="let successor of availableNodes">
        <button mat-menu-item (click)="connectoToNode(successor)">
          {{ successor.Name }}
        </button>
      </ng-container>
    </ng-container>

    <ng-template #noNodesTemplate>
      <span>
        No nodes to connect available
      </span>
    </ng-template>
  </ng-template>
</mat-menu>
