.container {
    height: 80px;
    width: 200px;
    position: relative;
    border: 1px solid rgba($color: #000000, $alpha: 0.7);
    background-color: white;
}

:host-context(.cdk-drag-dragging) .container {
    border: none;
    -webkit-box-shadow: 0px 0px 5px 1px rgba(0,102,255,1);
    -moz-box-shadow: 0px 0px 5px 1px rgba(0,102,255,1);
    box-shadow: 0px 0px 5px 1px rgba(0,102,255,1);
}

.name-input {
    border-top: none;
    border-right: none;
    border-bottom: none;
    border-left: 1px solid rgba($color: #000000, $alpha: 0.7);
}

.duration-input {
    border-bottom: none;
    border-right: none;
    border-top: 1px solid rgba($color: #000000, $alpha: 0.7);
    border-left: none;
}

.totalBuffer {
    border-bottom: none;
    border-right: none;
    border-top: 1px solid rgba($color: #000000, $alpha: 0.7);
    border-left: 1px solid rgba($color: #000000, $alpha: 0.7);
}

.freeBuffer {
    border-bottom: none;
    border-right: none;
    border-top: 1px solid rgba($color: #000000, $alpha: 0.7);
    border-left: 1px solid rgba($color: #000000, $alpha: 0.7);
}


.predeccessors-line-end {
    position: absolute;
    border: 4px #404241 solid;
    border-radius: 50%;
    top: calc(50% - 4px);
    left: -4px;
}

.successors-line-start {
    position: absolute;
    border: 4px #404241 solid;
    border-radius: 50%;
    display: flex;
    top: calc(50% - 4px);
    left: calc(100% - 4px);

    .add-icon {
        cursor: pointer;
        display: none;
    }
}

.container:hover {
    .add-icon {
        display: block;
    }

    .successors-line-start {
        padding: 2px;
        border: 2px black solid;
        background-color: white;
        top: calc(50% - 16px);
        left: calc(100% - 10px);

    }
}

.buffer-field {
    width: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
}


:host-context(.cdk-drag-dragging) .mat-icon-button {
    pointer-events: none;
}

::ng-deep .node-connection-select {
    height: 0px;
    overflow: hidden;
    width: 0 !important;
    visibility: hidden;

    .mat-select-arrow-container {
        display: none;
    }
}

.badge {
    position: absolute;
}

.badge-top-left {
    top: -25px;
    left: 5px;
}

.badge-top-right {
    top: -25px;
    right: 5px;
}

.badge-bottom-right {
    bottom: -25px;
    right: 5px;
}

.badge-bottom-left {
    bottom: -25px;
    left: 5px;
}