.container {
    height: 80px;
    width: 200px;
    position: relative;
    border: 2px solid black;
}

.predeccessors-line-end {
    position: absolute;
    border: 4px black solid;
    border-radius: 50%;
    top: calc(50% - 4px);
    left: -4px;
}

.successors-line-start {
    position: absolute;
    border: 4px black solid;
    border-radius: 50%;
    display: flex;
    top: calc(50% - 4px);
    left: calc(100% - 4px);

    .add-icon {
        cursor: pointer;
        display: none;
    }
}

.container:hover {
    .add-icon {
        display: block;
    }

    .successors-line-start {
        padding: 2px;
        border: 2px black solid;
        background-color: white;
        top: calc(50% - 16px);
        left: calc(100% - 10px);

    }

}

input::placeholder {
    padding-left: 5px;
}

:host-context(.cdk-drag-dragging) .mat-icon-button {
    pointer-events: none;
}

::ng-deep .node-connection-select {
    height: 0px;
    overflow: hidden;
    width: 0 !important;
    visibility: hidden;

    .mat-select-arrow-container {
        display: none;
    }
}

.badge {
    position: absolute;
}

.badge-top-left {
    top: -25px;
    left: 5px;
}

.badge-top-right {
    top: -25px;
    right: 5px;
}

.badge-bottom-right {
    bottom: -25px;
    right: 5px;
}

.badge-bottom-left {
    bottom: -25px;
    left: 5px;
}