.app-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.drawer-header {
    display: flex;
    align-items: center;
    padding:  2px 5px;
    border-bottom: 1px solid  rgba(0, 0, 0, 0.4)
}

.plan-item {
    padding: 14px 8px;
    font-size: 18;
    cursor: pointer;
    border-bottom: 1px solid  rgba(0, 0, 0, 0.1)
}

.plan-item:hover {
    background-color: rgba(0, 0, 0, 0.15);
}