@import '~@angular/material/theming';

.app-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.drawer-header {
    display: flex;
    align-items: center;
    padding-right: 60px;
}

.plan-item {
    padding: 8px 8px;
    font-size: 18;
    display: flex;
    justify-content: space-between;
    align-items: center;

    cursor: pointer;
    border-bottom: 1px solid  rgba(0, 0, 0, 0.1);

    .mat-icon-button {
        visibility: hidden;
    }
}

.plan-item:hover {
    background-color: rgba(0, 0, 0, 0.15);

    .mat-icon-button {
        visibility: visible;
    }
}

.selected {
    background-color: rgba(202, 86, 86, 0.15);
    padding: 15px 8px;
}